@font-face {
  font-family: "COD";
  src: url("./fonts/CallOfOpsDutyIi-7Bgm4.ttf");
}
@font-face {
  font-family: "SPRING";
  src: url("./fonts/ModernWarfare-8MM6z.ttf");
}
body {
  margin: 0;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; /* Updated font-family */
  cursor: url("./images/crosshair.png"), auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #03fd11;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 20px; /* Added top margin for space */
  left: 0;
  width: 100%;
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 10;
  cursor: default;
}

.navbar .left {
  font-size: 3vw;
  font-weight: bold;
  font-family: "COD";
  margin-left: 20px;
  letter-spacing: 0.1em;
}

.navbar .right {
  display: flex;
  gap: 10px; /* Adjusted spacing */
  align-items: center;
  float: right;
}

.navbar .icon img {
  width: 60px; /* Smaller size for better fit */
  height: 60px;
  border-radius: 50%; /* Rounded corners for Telegram image */
  object-fit: cover; /* Ensures proper aspect ratio */
}

.navbar .dfx-img {
  width: 140px; /* Size of the DFX button */
  height: 40px;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

.navbar .gen {
  width: 140px; /* Size of the GENERATE button */
  height: 40px;
  cursor: pointer;

  border-radius: 10px;
  display: flex; /* Flexbox for centering */
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: transparent; /* Make the text transparent for background gradient effect */
  background: linear-gradient(
    90deg,
    red,
    blue,
    #08a2aa,
    violet
  ); /* Gradient for the text */
  -webkit-background-clip: text; /* Ensure the background gradient is applied only to the text */
  background-clip: text; /* Standard property */
  font-size: 20px; /* Adjust font size */
  font-weight: bold; /* Make the text bold */
  font-family: "COD";
  letter-spacing: 0.1em;
}

canvas {
  display: block;
  z-index: 3;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Centered text styling */
.center-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Shadow for better readability */
  z-index: 4;
  font-family: "COD";
  letter-spacing: 0.1rem;
}
.shot {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  color: rgb(4, 167, 13);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Shadow for better readability */
  z-index: 1;
  font-family: "COD";
  letter-spacing: 0.1em; /* Adjust spacing here */
}
.help {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: black;
  font-weight: bold;

  z-index: 4;

  letter-spacing: 0.1em;
}
#videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1; /* Initially behind other elements */
  transition: z-index 0s, opacity 0.5s;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out; /* Smooth fade effect */
  pointer-events: none; /* Prevent interaction when hidden */
}
#videoContainer.active {
  z-index: 1000; /* Bring it to the front */
  opacity: 1;
  cursor: default; /* Make it visible */
  pointer-events: auto; 
}

video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the screen */
}
